{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css" // `style: true` 会加载 less 文件
      }
    ],
    ["styled-components",{"ssr": true}]
  ]
}